
/* Hides trip show and new trip form until wanted */


header h1:hover, #new-trip p {
  cursor: pointer;
}

h1 {width: 30%; display: inline-block; text-align: center;}

nav {width: 65%; display: inline-block; text-align: right;}

nav li {display: inline-block; padding-left: 1%;}


#new-trip, #trip-info { display: none; }

#trip-info {
  width: 50%;
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: yellow;
  padding: 5%;
  border-radius: 2%;
  overflow: scroll;
}
